<widget id="A6136183259540" security="false" version="1.0.0">
	<name>跑跑商户端</name>
	<description>商家版</description>
	<author email="" href="https://waimai.sudatc.cn">Hy</author>
	<content src="index.html"/>
	<preference name="windowBackground" value="#8BC6AF"/>
	<preference name="autoLaunch" value="true"/>
	<preference name="autoUpdate" value="true"/>
	<preference name="smartUpdate" value="true"/>
	<preference name="backgroundMode" value="location"/>//位置的支持
	<preference name="urlScheme" value="iosamap"/>
	<preference name="querySchemes" value="iosamap"/>
	<preference name="pageBounce" value="false"/>
	<preference name="hScrollBarEnabled" value="false"/>
	<preference name="vScrollBarEnabled" value="false"/>
	<preference name="fullScreen" value="false"/>
	<preference name="iOS7StatusBarAppearance" value="false"/>
	<preference name="appBackground" value="#FFF"/>
	<preference name="userAgent" value="APICloud"/>
	<preference name="interfaceStyle" value="Automatic"/>
	<preference name="WKWebViewRecoveryMode" value="reload"/>
	<preference name="avm" value="false"/>
	<preference name="useWKWebView" value="true"/>
	<preference name="statusBarAppearance" value="false"/>
	<preference name="allowKeyboardExtension" value="false"/>
	<preference name="softInputMode" value="auto"/>
	<preference name="softInputBarEnabled" value="false"/>
	<preference name="dragAndDrop" value="true"/>
	<preference name="checkSslTrusted" value="false"/>
	<preference name="appCertificateVerify" value="false"/>
	<preference name="launcher" value="true"/>
	<preference name="debug" value="false"/>
	<permission name="hardware"/>
	<permission name="bootCompleted"/>
	<permission name="internet"/>
	<permission name="fileSystem"/>
	<permission name="record"/>
	<permission name="readPhoneState"/>
	<permission name="sms"/>
	<permission name="contact"/>
	<permission name="call"/>
	<permission name="location"/>
	<permission name="camera"/>
	<access origin="*"/>
	<feature name="ajpush">
		<param name="app_key" value="251a263741b2d874488df096"/>
		<param name="channel" value="developer_default"/>
	</feature>
	<feature name="aMapLBS">
		<param name="android_api_key" value="b2f9600e24527ab5156bcaec88bcd614"/>
		<param name="ios_api_key" value="7b1e195ffeee8a3e525f5fb0cc6d06be"/>
	</feature>
</widget>
